* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 20%;
    font-family: sans-serif;
}

.text-large {
    font-size: x-large;
}

.text-center {
    text-align: center;
}

.text-green {
    background-color: rgb(129, 235, 165);
    border: 3px solid rgb(78, 215, 124);
}

.text-red {
    background-color: rgb(243, 164, 150);
    border: 3px solid rgb(245, 124, 102);
}

.Row {
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
}