:root {
    --gray-color: rgb(134, 134, 134);

    /* Light vars */
    --l-color: rgb(0, 0, 0);
    --l-ui-color: rgb(44, 42, 42);
    --l-list-color: rgb(134, 134, 134);

    --l-main-bg-color: rgb(250, 244, 244);
    --l-ui-bg-color: rgb(205, 205, 205);
    --l-upper-line-bg-color: rgba(235, 235, 235, 0.8);
    --l-upper-line-bg-color-hover: rgba(220, 220, 220, 0.8);
    --l-user-card-bg-color: rgb(202, 195, 195);
    --l-list-bg-color: rgb(230, 230, 230);

    --l-border-color: rgb(202, 195, 195);
}